if SHIELD_S2ELLY_LEFT

config ZMK_KEYBOARD_NAME
    default "S2elly"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_S2ELLY_LEFT || SHIELD_S2ELLY_RIGHT

config ZMK_SPLIT
    default y

endif
